<div class="recover-wrapper">
  <div class="recover-card">
    <h2 class="recover-title">Recupera tu contraseña</h2>

    <div class="form-group">
      <label>Ingresa tu correo electrónico</label>
      <input type="email" placeholder="tu@email.com" />
    </div>

    <button class="btn btn-primary" (click)="verificarCorreo()">
      Verificar
    </button>

    <div *ngIf="showPasswordFields">
      <div class="divider"></div>

      <div class="form-group">
        <label>Ingresa nueva contraseña</label>
        <input type="password" placeholder="Nueva contraseña" />
      </div>

      <div class="form-group">
        <label>Confirma nueva contraseña</label>
        <input type="password" placeholder="Confirma tu contraseña" />
      </div>

      <button class="btn btn-primary">Guardar nueva contraseña</button>
    </div>
  </div>
</div>
